<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Login ver 1</title>
</head>
<body>
    {{ current_time }}
    Login : Nghịch UTF-*8
    <h1>Test head 1</h1>
    <h6>Test head 6</h6>
    <h3>You are {{ visitors }} on my web</h3>
    <!-- <h3>Comment here</h3> -->
    <h3>Test heading 3</h3>
    <p>This is a web story </p>
{#// xuong dong#}
    <div> khong khoang cach</div> // divition
//img have
    <img alt="for those who can't see " src="https://static.pexels.com/photos/56875/tree-dawn-nature-bucovina-56875.jpeg">

    <a target="_blank" href="http://waaark.com/"> go to France Creative Web studio</a>  //anchor  because you suff the web
</body>
</html>