<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSS Style</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

</head>
<body>
    <div class="w3-row">
        <div class="w3-col m6 s8 w3-green w3-center">
            <p>True</p>
        </div>
        <div class="w3-col m6 s4 w3-dark-grey w3-center">
            <p>False</p>
        </div>
    </div>
    <button class="w3-btn w3-white w3-border w3-border-green w3-round-xlarge">Button</button>
</body>
</html>